@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", Arial, sans-serif; /* Add a fallback font for safety */
  font-size: 15px; /* Base font size */
  line-height: 15.73px; /* Optional: Adjust line height */
}
.btn-primary {
  padding: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-width: 1px;
  border-color: #059669;
  color: black;
}

.btn-secondary {
  padding: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-width: 1px;
  color: #ffffff;
  background-color: #38c776;
}

.btn-active {
  width: 60px;
  height: 23px;
  top: 213px;
  left: 996px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #38c776;
  background: #e1ffee;
  border: 1px solid #38c776;
}

.btn-inactive {
  width: 69px;
  height: 23px;
  top: 273px;
  left: 996px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #101f31;
  background: #e7f1fe;
  border: 1px solid #101f31;
}
.btn-draft {
  width: 53px;
  height: 23px;
  top: 453px;
  left: 996px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #ff8a00;
  background: #fff6d4;
  border: 1px solid #ff8a00;
}

.req {
  color: red;
}

.horizontal-slider {
  /* width: 100%; */
  /* max-width: 500px; */
  /* height: 50px; */
  margin: 10px;
  padding: 10px;
}

.horizontal-slider .example-track {
  top: 10px;
  height: 5px;
}

.example-track.example-track-0 {
  background: #f2f2f2;
}

.example-track.example-track-1 {
  background: #38c776;
}

.example-track.example-track-2 {
  background: #f2f2f2;
}

.horizontal-slider .example-thumb {
  top: 5px;
  width: 15px;
  height: 15px;
  line-height: 65px;
  border-radius: 50%;
  font-size: 0.9em;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.36);
  color: #848484;
  cursor: pointer;
  box-sizing: border-box;
}
