@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tangerine:wght@400;700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap") ; 
  /* font-display: swap; */
}
html, body {
  font-family: 'Inter', Arial, sans-serif; /* Add a fallback font for safety */
  font-size: 15px; /* Base font size */
  line-height: 15.73px; /* Optional: Adjust line height */
}
.btn-primary {
  padding: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-width: 1px;
  border-color: #059669;
  color: black;
}

.btn-secondary {
  padding: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-width: 1px;
  color: #ffffff;
  background-color: #38c776;
}

.btn-active {
  width: 60px;
  height: 23px;
  top: 213px;
  left: 996px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #38c776;
  background: #e1ffee;
  border: 1px solid #38c776;
}

.btn-Inactive {
  width: 69px;
  height: 23px;
  top: 273px;
  left: 996px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #101f31;
  background: #e7f1fe;
  border: 1px solid #101f31;
}
.btn-draft {
  width: 53px;
  height: 23px;
  top: 453px;
  left: 996px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #ff8a00;
  background: #fff6d4;
  border: 1px solid #ff8a00;
}

.req {
  color: red;
}
